<ion-view view-title="Attendance">
  <ion-content>
    <div class="list">
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/man1.png">
	      <h2>Pretty Hate Machine</h2>
	      <p>Nine Inch Nails</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/man2.png">
	      <h2>Pretty Hate Machine</h2>
	      <p>Nine Inch Nails</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/man3.jpg">
	      <h2>Pretty Hate Machine</h2>
	      <p>Nine Inch Nails</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/man4.jpg">
	      <h2>Pretty Hate Machine</h2>
	      <p>Nine Inch Nails</p>
	    </a>
	</div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
	 <div class="title">Footer</div>
   </div>
</ion-view>


<!-- <ion-pane>
			<ion-header-bar class="bar-positive">
				<button class="button icon ion-navicon-round"></button>
					<h1 class="title">First App</h1>
				<button class="button icon ion-funnel"></button>
			</ion-header-bar>
			<div class="bar bar-footer bar-balanced">
				<div class="title">Footer</div>
			</div>
		</ion-pane> -->