<ion-view id="login" hide-nav-bar="true">
    <ion-content padding="true" scroll="false">
        <form>
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">

                    <div class="header padding text-center">
                        <img src="../img/iconfpm.png"s alt="Your logo here" width="230px" height="200px"/>
                    </div>

                    <div class="list">
                        <label class="item item-input">
                            <input type="email" placeholder="Email">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Password">
                        </label>
                    </div>

                    <button class="button button-block button-positive">
                        Log In
                    </button>

                    <div class="row row-no-padding">
                        <div class="col">
                            <button class="button button-clear button-light">
                                Forgot password?
                            </button>
                        </div>

                        <div class="col text-right">
                            <button class="button button-clear button-light">
                                Sign up
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>